body { min-height: 100vh; display: flex; flex-direction: column; }
header{ height: 10vh;} 
main{flex-grow: 1;} 
footer{ height: 10vh; }

/* *{
  outline: 1px red solid;
} */

.title-text{
  font-family: 'Lobster', cursive;
}



